<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.user.todoist-notifier</string>
    
    <key>ProgramArguments</key>
    <array>
        <string>/Users/heinrich/Documents/todoist-scheduler/.venv/bin/python</string>
        <string>-m</string>
        <string>todoist_scheduler.cli_notifier</string>
    </array>
    
    <key>WorkingDirectory</key>
    <string>/Users/heinrich/Documents/todoist-scheduler</string>
    
    <key>RunAtLoad</key>
    <true/>
    
    <key>KeepAlive</key>
    <true/>
    
	<key>StandardOutPath</key>
	<string>/Users/heinrich/Library/Logs/todoist-scheduler/notifier.log</string>
    
	<key>StandardErrorPath</key>
	<string>/Users/heinrich/Library/Logs/todoist-scheduler/notifier.error.log</string>
    
    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
    </dict>
</dict>
</plist>
